* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  font-family: 'Poppins', sans-serif;
  flex: 1;
}

footer {
  flex-shrink: 0;
}
